
@model CrudEntityFramwork.Models.Usuario

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<hr />

<div class="row">
    <div class="col-12">
        <div class="card border">
            <div class="card-header">
                <h3><strong>Detalle Usuario</strong> </h3>

            </div>

        </div>
        <div class="card-body">
            <ul class="list-grouo">
                <li class="list-group-item"><strong>Nombre: @Html.DisplayFor(m => m.Nombre)</strong></li>
                <li class="list-group-item"><strong>Celular: @Html.DisplayFor(m => m.Celular)</strong></li>
                <li class="list-group-item"><strong>Telefono: @Html.DisplayFor(m => m.Telefono)</strong></li>
                <li class="list-group-item"><strong>Email: @Html.DisplayFor(m => m.Email)</strong></li>
            </ul>

        </div>

    </div>

</div>

<div>
    <a asp-action="Index">Volver</a>
</div>





